/*Estilos da página inde.html*/

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

nav{
    margin: 0%;
    padding: 10px;
    background-color: #f2d1c9;
}

#menu li {
    display: inline;
    padding: 15px;
    
}

#menu li a {
    text-decoration: none;
    color: rgb(#f8f8f8);
    font-size: 20px;
}

#menu li a:hover { /*quando o mouse passar por cima, altera a cor*/
    color:#5EA4AD;
}

.fcolortitle {
    color: #5EA4AD;
}

.fcolornav {
    color:#F25270;
}

.fcolorbody {
    color: #000000;
}

.p-30 {
    padding: 30px;
}

.br-50 { /*medidas da img*/
    border-radius: 50%;
}

.wh-300 {
    width: 400px;
    height: 400px;
}

.tm-social {
    width: 50px;
    height: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

/*Estilos da página contato.html*/

.ml-50 {
    margin-left: 50px;
}